.messagewindow {
    margin-top: 10px;
    width: 50%;
    height: 100px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: lightblue;
    border: solid;
}

.window {
    color: red;
}
